#### Dictionary

- unordered collection of items
- store in key-value pairs
- key must be unique
- immutable

In [1]:
empty_dict = {}
print(type(empty_dict))

<class 'dict'>

In [2]:
empty_dict =  dict()
print(empty_dict)

{}

In [3]:
student = {
    "name":"Barakath",
    "age" : 32,
    "grade":24
}
print(student)
print(type(student))

{'name': 'Barakath', 'age': 32, 'grade': 24}
<class 'dict'>

In [4]:
student = {
    "name":"Barakath",
    "age" : 32,
    "name":24
}
student

{'name': 24, 'age': 32}

In [8]:
student = {
    "name":"Barakath",
    "age" : 25,
    "grade":'A'
}
print(student['grade'])
print(student['age'])

print(student.get('grade'))
print(student.get('last_name'))
print(student.get('last_name',"NA"))

A
25
A
None
NA

In [9]:
# Dict - mutable
print(student)

{'name': 'Barakath', 'age': 25, 'grade': 'A'}

In [10]:
student['age']=24
print(student)
student['address']="TN"
print(student)

{'name': 'Barakath', 'age': 24, 'grade': 'A'}
{'name': 'Barakath', 'age': 24, 'grade': 'A', 'address': 'TN'}

In [11]:
del student['address']
print(student)

{'name': 'Barakath', 'age': 24, 'grade': 'A'}

In [14]:
keys = student.keys()
print(keys)
values = student.values()
print(values)
items = student.items()
print(items)

dict_keys(['name', 'age', 'grade'])
dict_values(['Barakath', 24, 'A'])
dict_items([('name', 'Barakath'), ('age', 24), ('grade', 'A')])

In [17]:
# shallow copy 
student_copy = student
print(student)
print(student_copy)

{'name': 'Barakath', 'age': 24, 'grade': 'A'}
{'name': 'Barakath', 'age': 24, 'grade': 'A'}

In [18]:
student['name'] = "Sree"
print(student)
print(student_copy)

{'name': 'Sree', 'age': 24, 'grade': 'A'}
{'name': 'Sree', 'age': 24, 'grade': 'A'}

In [20]:
student_copy1 =  student.copy()
student['name'] = "Barakath"
print(student)
print(student_copy1)

{'name': 'Barakath', 'age': 24, 'grade': 'A'}
{'name': 'Sree', 'age': 24, 'grade': 'A'}

In [21]:
## iterating dict 
for keys in student.keys():
    print(keys)

name
age
grade

In [22]:
for keys, values in student.items():
    print(keys,values)

name Barakath
age 24
grade A

In [23]:
students = {
    "student1":{"Name":"Barakath","Age":23},
    "student2":{"Name":"Ganesh","Age":30}
}
print(students)

{'student1': {'Name': 'Barakath', 'Age': 23}, 'student2': {'Name': 'Ganesh', 'Age': 30}}

In [27]:
print(students["student2"]['Name'])

Ganesh

In [28]:
students.items()

dict_items([('student1', {'Name': 'Barakath', 'Age': 23}), ('student2', {'Name': 'Ganesh', 'Age': 30})])

In [31]:
for student_id, student_info in students.items():
    print(student_id, student_info)
    for key, value in student_info.items():
        print(f"{key}:{value}")

student1 {'Name': 'Barakath', 'Age': 23}
Name:Barakath
Age:23
student2 {'Name': 'Ganesh', 'Age': 30}
Name:Ganesh
Age:30

In [33]:
squares = {x:x**2 for x in range(5)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [35]:
evens  = {x:x**2 for x in range(10) if x%2==0}
print(evens)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [36]:
numbers = [1,2,2,3,3,3,4,4,4,4]
frequency = {}

for number in numbers:
    if number in frequency:
        frequency[number]+=1
    else:
        frequency[number] =1
print(frequency)

{1: 1, 2: 2, 3: 3, 4: 4}

In [37]:
dict1 = {"a":1,"b":2}
dict2 = {"b":3,"c":4}
merged_dict = {**dict1,**dict2}
merged_dict

{'a': 1, 'b': 3, 'c': 4}