List

In [ ]:
lst = []
print(type(lst))

<class 'list'>

In [ ]:
name = ['Barkath','Varsha','Ganesh','Sree',1,2,3,4,5]
print(name)

['Barak', 'Varsha', 'Ganesh', 'Sree', 1, 2, 3, 4, 5]

In [5]:
mixed_list =[1, 'Hello',3.14, True]
mixed_list

[1, 'Hello', 3.14, True]

In [13]:
fruits =['Apple', 'Banana', 'Cherry','Orange']
print(fruits[0])
print(fruits[2])
print(fruits[-1])

Apple
Cherry
Orange

In [22]:
print(fruits[1:])
print(fruits[1:3])
print(fruits[-1:])
print(fruits[-1:-3])

['Banana', 'Cherry', 'Orange']
['Banana', 'Cherry']
['Orange']
[]

In [23]:
fruits[1]="Watermelon"
fruits

['Apple', 'Watermelon', 'Cherry', 'Orange']

In [25]:
fruits[1:] = "watermelon"
fruits

['Apple', 'w', 'a', 't', 'e', 'r', 'm', 'e', 'l', 'o', 'n']

In [51]:
fruits =['Apple', 'Banana', 'Cherry','Orange']
fruits

['Apple', 'Banana', 'Cherry', 'Orange']

In [52]:
fruits.append("guava")
fruits

['Apple', 'Banana', 'Cherry', 'Orange', 'guava']

In [53]:
fruits.insert(1,'Kiwi')
fruits

['Apple', 'Kiwi', 'Banana', 'Cherry', 'Orange', 'guava']

In [54]:
fruits.remove("Banana") # always remove first occurence
fruits

['Apple', 'Kiwi', 'Cherry', 'Orange', 'guava']

In [55]:
popped_fruits = fruits.pop()
print(popped_fruits)
print(fruits)

guava
['Apple', 'Kiwi', 'Cherry', 'Orange']

In [56]:
fruits.index("Cherry")

2

In [59]:
print(fruits)
fruits.insert(2,"Guava")
print(fruits)
print(fruits.count("Guava"))

['Apple', 'Kiwi', 'Guava', 'Guava', 'Cherry', 'Orange']
['Apple', 'Kiwi', 'Guava', 'Guava', 'Guava', 'Cherry', 'Orange']
3

In [ ]:
fruits.sort() #ascending order
fruits

['Apple', 'Cherry', 'Guava', 'Guava', 'Guava', 'Kiwi', 'Orange']

In [62]:
fruits.reverse() #reverse
fruits

['Orange', 'Kiwi', 'Guava', 'Guava', 'Guava', 'Cherry', 'Apple']

In [ ]:
fruits.clear()
fruits

[]

In [5]:
numbers =[1,2,3,4,5,6,7,8,9,10]
print(numbers[2:5])
print(numbers[:5])
print(numbers[5:])
print(numbers[::2])
print(numbers[::-1])

[3, 4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [6]:
numbers[::3]

[1, 4, 7, 10]

In [7]:
numbers[::-2]

[10, 8, 6, 4, 2]

In [8]:
for number in numbers:
    print(number)

1
2
3
4
5
6
7
8
9
10

In [10]:
for index,number in enumerate(numbers):
    print("Index:",index,"Number:",number)

Index: 0 Number: 1
Index: 1 Number: 2
Index: 2 Number: 3
Index: 3 Number: 4
Index: 4 Number: 5
Index: 5 Number: 6
Index: 6 Number: 7
Index: 7 Number: 8
Index: 8 Number: 9
Index: 9 Number: 10

In [11]:
lst=[]
for x in range(10):
    lst.append(x**2)
lst

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [12]:
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

#### List comprehension 

Basic       --->   [expression for item in iterable]

with condition---> [expression for item in iterable if condition]

Nested List Comprehension --->  [expression for item1 in iterable1 for item2 in iterable2]

In [13]:
square = [num**2 for num in range(10)]
print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [15]:
lst =[]
for i in range(10):
    if i%2==0:lst.append(i)
lst

[0, 2, 4, 6, 8]

In [17]:
[num for num in range(10) if num%2==0]

[0, 2, 4, 6, 8]

In [18]:
lst1 = [1,2,3]
lst2 = ['a','b','c']

pair =[(i,j) for i in lst1 for j in lst2]
pair

[(1, 'a'),
 (1, 'b'),
 (1, 'c'),
 (2, 'a'),
 (2, 'b'),
 (2, 'c'),
 (3, 'a'),
 (3, 'b'),
 (3, 'c')]

In [23]:
words = ['Barkath','Varsha','Ganesh','Sree']
lengths = [("Length:"+str(len(word)),"Name:"+word) for word in words]
print(lengths)

[('Length:7', 'Name:Barkath'), ('Length:6', 'Name:Varsha'), ('Length:6', 'Name:Ganesh'), ('Length:4', 'Name:Sree')]