##### Python Sets

- **Unordered**: Sets do not maintain any order of elements.
- **No Duplicates**: A set automatically removes duplicate values.
- **Membership Tests**: You can check if an item exists in a set using the `in` keyword.
- **Duplicate Elimination**: Converting a list to a set removes duplicates.

##### Set Operations (Mathematical)

- **Union (`|` or `.union()`):** Combines all unique elements from both sets.
- **Intersection (`&` or `.intersection()`):** Returns elements common to both sets.
- **Difference (`-` or `.difference()`):** Elements in one set but not the other.
- **Symmetric Difference (`^` or `.symmetric_difference()`):** Elements in either set, but not both.

In [2]:
myset = {1,2,3,4}
print(myset)
print(type(myset))

{1, 2, 3, 4}
<class 'set'>

In [5]:
emptySet = set()
print(type(emptySet))

<class 'set'>

In [7]:
mySet = set([1,2,3,4,5,6])
print(mySet)

{1, 2, 3, 4, 5, 6}

In [8]:
mySet = set([1,2,3,4,4,5,6,5,6])
print(mySet)

{1, 2, 3, 4, 5, 6}

In [11]:
mySet.add(7)
print(mySet)
mySet.add(7)
print(mySet)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}

In [12]:
mySet.remove(3)
mySet

{1, 2, 4, 5, 6, 7}

In [13]:
mySet.remove(10)

KeyError: 10

In [15]:
print(mySet)
mySet.discard(11)
print(mySet)
mySet.discard(7)
print(mySet)

{1, 2, 4, 5, 6, 7}
{1, 2, 4, 5, 6, 7}
{1, 2, 4, 5, 6}

In [ ]:
removedEl = mySet.pop() #pop first element
print(removedEl)
print(mySet)

1
{2, 4, 5, 6}

In [17]:
mySet.clear()
mySet

set()

In [18]:
## set membership test
mySet = {1,2,3,4,5}
print(3 in mySet)
print(10 in mySet)

True
False

In [22]:
set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9}

union_set = set1.union(set2)
print(union_set)

int_set = set1.intersection(set2)
print(int_set)

set1.intersection_update(set2)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6}
{4, 5, 6}

In [29]:
set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9}

print(set1.difference(set2))
print(set2.difference(set1))

{1, 2, 3}
{8, 9, 7}

In [32]:
set1.symmetric_difference(set2) 
#Return the symmetric difference of two sets as a new set.

{1, 2, 3, 7, 8, 9}

In [35]:
set1 = {1,2,3}
set2 = {3,4,5}

print(set1.issubset(set2))
print(set1.issuperset(set2))

False
False

In [37]:
set1 = {1,2,3,4,5}
set2 = {3,4,5}

print(set1.issuperset(set2))

True

In [38]:
set1 = {1,2,3}
set2 = {1,2,3,4,5}

print(set1.issubset(set2))

True

In [40]:
set1 = {1,2,3,4,5}
set2 = {1,2,3,4,5,6}

print(set1.issubset(set2))
print(set1.issuperset(set2))

True
False

In [41]:
lst = [1,2,3,3,3,4,5,6,7]
set(lst)

{1, 2, 3, 4, 5, 6, 7}

In [46]:
text = "Introduction about sets sets"
words = text.split()

unique_words = set(words)
print(unique_words)
print(len(unique_words))

{'sets', 'Introduction', 'about'}
3