#### Tuples 

- ordered collection of items that are immutable

In [2]:
empty_tuple = ()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [4]:
lst = list()
print(type(lst))
tpl = tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [5]:
numbers = tuple([1,2,3,4,5,6])
numbers

(1, 2, 3, 4, 5, 6)

In [6]:
list((1,2,3,4,5,6))

[1, 2, 3, 4, 5, 6]

In [7]:
mixed_tuples = (1, "Hello World", 3.14, True)
mixed_tuples

(1, 'Hello World', 3.14, True)

In [8]:
numbers

(1, 2, 3, 4, 5, 6)

In [10]:
print(numbers[0])
print(numbers[-1])

1
6

In [11]:
numbers[0:4]

(1, 2, 3, 4)

In [13]:
numbers[::-1]

(6, 5, 4, 3, 2, 1)

In [16]:
concat_tuple = numbers + mixed_tuples
concat_tuple

(1, 2, 3, 4, 5, 6, 1, 'Hello World', 3.14, True)

In [17]:
mixed_tuples*3

(1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True)

In [18]:
numbers * 3

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [21]:
lst = [1,2,3,4,5]
lst[1] = "hello"
lst

[1, 'hello', 3, 4, 5]

In [23]:
numbers[1] = "world"

TypeError: 'tuple' object does not support item assignment

In [29]:
print(numbers)
print(numbers.count(2))
print(numbers.index(4))

(1, 2, 3, 4, 5, 6)
1
3

In [30]:
packed_tuple = 1,"Hello",3.14
packed_tuple

(1, 'Hello', 3.14)

In [31]:
a,b,c =  packed_tuple
print(a)
print(b)
print(c)

1
Hello
3.14

In [39]:
numbers = (1,2,3,4,5,6)
first,*middle, last = numbers
print(first)
print(middle)
print(*middle)
print(last)

1
[2, 3, 4, 5]
2 3 4 5
6

In [ ]:
lst = [[1,2,3],[4,5,6],["Hello",3.14,"c"]]
lst[2][0:3]

['Hello', 3.14, 'c']

In [46]:
lst = [[1,2,3],[4,5,6],("Hello",3.14,"c")]
lst[2][0:3]

('Hello', 3.14, 'c')

In [48]:
nested_tpls = ((1,2,3),(4,5.0,"HELLO"),(True,False))
print(nested_tpls[0])
print(nested_tpls[1][2])

(1, 2, 3)
HELLO

In [49]:
for sub_tpl in nested_tpls:
    for item  in sub_tpl:
        print(item, end=" ")

1 2 3 4 5.0 HELLO True False